$mainColor:#7777bb;
$black: #262626;
$black50: rgba(38,38,47,0.5);
$white: #fff;

$green: #008A52;
$yellow: #FFCF01;
$red: #D9182D;
$neutral: #077DC1;

$hover_table: #f5f5f5;
$line_table: #ddd;
$heavy_navy: #001934;


$blue_one: #064366;
$blue_two: #3b6caa;
$blue_link: #047CC0;
$black50: rgba(38,38,47,0.5);
$light_gray: #F2F2F3;
$background: #f5f5f7;
$gray3: #a4a4a4;
$blue3: #1BB0CE;
$light_green:#CEF3D1;
$light_red:#F7E6E6;
$light_yellow:#FBEAAE;