.ml15{
    margin-left: 15px;
  }
  a {
    text-decoration: none;
  }
  
  .m0 {
    margin: 0 !important;
  }
  
  .mt0 {
    margin-top: 0;
  }
  
  .mb0 {
    margin-bottom: 0;
  }
  
  .ml5 {
    margin-left: 5px;
  }
  
  .ml15 {
    margin-left: 15px;
  }
  
  .mb20 {
    margin-bottom: 20px;
  }
  
  .mr5 {
    margin-right: 5px;
  }
  
  .mr10 {
    margin-right: 10px;
  }
  
  .mr15 {
    margin-right: 15px;
  }
  
  .mr20 {
    margin-right: 20px;
  }
  
  .p0 {
    padding: 0;
  }
  
  .pl0 {
    padding-left: 0 !important;
  }
  
  .pr0 {
    padding-right: 0 !important;
  }
  
  .pt0 {
    padding-top: 0 !important;
  }
  
  .p10 {
    padding: 10px;
  }
  
  .fr {
    float: right;
  }
  
  .fl {
    float: left;
  }
  
  .clear-both {
    clear: both;
  }
  